workflows/telegram-resume-bot.make.json
{
    "name": "Telegram Watch updates",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": ""
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -324,
                    "y": 17
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "Telegram webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "ai-agent:RunAnAIAgent",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "",
                "timeout": "",
                "messages": [
                    "The user has started the conversation:\n\n**Chat ID**: {{1.message.chat.id}}\n**User Message**: {{1.message.text}}\n\n---\n\n## Instructions\n\nYou have received a new message from a user through the Watch Updates tool. Follow these steps:\n\n1. Immediately respond to the user in a friendly and professional tone\n2. Analyze the user's message to determine intent\n3. Guide the user through the resume evaluation process\n\n## Action Handling\n\n- Greetings: Welcome the user and explain available features\n- Resume check requests: Ask for a Google Docs resume link\n- Google Docs link: Acknowledge and proceed with evaluation\n- Email address: Send the resume evaluation report\n\n## Available Tools\n\n- Send plain text replies\n- Fetch resume content from Google Docs\n- Send resume report via email\n\nAlways respond clearly and helpfully."
                ],
                "threadID": "",
                "outputType": "",
                "additionalSystemPrompt": ""
            },
            "metadata": {
                "designer": {
                    "x": -24,
                    "y": 17
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "AI Agent"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "threadID",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "additionalSystemPrompt",
                        "type": "text",
                        "label": "Additional system instructions"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "timeout",
                        "type": "number",
                        "label": "Timeout"
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Output schema"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "scenario-service:ReturnData",
            "version": 2,
            "parameters": {},
            "mapper": {
                "Chat_ID": "{{1.message.chat.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 276,
                    "y": 17
                },
                "restore": {},
                "expect": [
                    {
                        "name": "Chat_ID",
                        "type": "text",
                        "label": "",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [],
        "output_spec": [
            {
                "help": "",
                "name": "Chat_ID",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ]
    }
}
